#introduction-wrapper{
    width: 100%;
    position: relative;

    #background-video {
        position: relative;
        margin: $margin-auto;
        z-index:0;
        height:40vh;
        width: 100%;
        object-fit: cover;

        @include respond(md){
            height: 60vh;
        }
    }   

    .overlay {
        position:absolute;
        top:35%;
        width: 100%;
        text-align: center;
        z-index:1;

        .span-intro{
            color: $color-primary-white;
            font-style: italic;
            padding: 0 2rem;
        }
    }
}