.wrapper-introduction{
    margin: 0 auto;

    @include respond(md){
        height: 80%;
    }

    @include respond(lg){
        height: 60%;
    }

    @include respond(xl){
        height: 20%;
    }

    #background-video {
        width: 100%;
        height: 100%;
    }   
        
}