#numbers-wrapper{
    padding : $padding-start-section;
    background-color: $color-primary-black;
    color: $color-primary-white;
    
    h2{
        text-align: center;
    }

    .container{
        width: 75%;
        margin: $margin-auto-inter-section;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        @include respond(md){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .card{
            display: flex;
            flex-direction: column;
            
            .span_number{
                font-weight: 600;
                font-size: 1.5rem;
                color : $color-secondary-gold;
            }

            .span_label{
                font-style : italic;
                margin: $margin-auto-inter-section;
                font-size: 1.25rem;
            }
        }
    }
}