#services-wrapper {
    padding : $padding-start-section;
    color : $color-primary-black;
    width: 80%;
    margin: $margin-auto;

    h2 {
        text-align: center;
    }
    
    p{
        margin: $margin-inter-section;
    }

    svg{
        height: 2rem;
        width: 100%;
    }

    .icons-services{
        .grid-cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            
            @include respond(lg){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    
        .card-service{
            text-align: center;
            margin: $margin-inter-section;
            display: flex;
            flex-direction: column;
    
            svg{
                margin-bottom: 1rem;
                height: 2.5rem;
                transform: rotate(1.5deg);
                color : $color-secondary-gold;

                &:hover{
                    height: 2.65rem;
                    transform: rotate(0);
                }
            }
        }

        .solo-cards{
            display: flex;
            flex-direction: column;
            margin: $margin-inter-section;
        }
    }

    svg{
        &:hover{
            height: 2.1rem;
        }
    }

    .more-services{
        .list-more-service{
            border: 1px solid $color-secondary-gold;
            border-radius: 3px;
            margin: $margin-inter-section;
            box-shadow: $box-shadow;

            ul{
                padding: 2rem;
            }
        }
    }

}