#services-wrapper {
    padding : $padding-start-section;
    color : $color-primary-black;
    width: 80%;
    margin: $margin-auto;

    h2 {
        text-align: center;
    }
    
    p{
        margin: $margin-inter-section;
    }

    svg{
        height: 2rem;
        width: 100%;
    }

    .icons-services{
        .grid-cards{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            gap: 1rem;

            @include respond(md){
                grid-template-columns: repeat(2,1fr);
            }

            @include respond(lg){
                grid-template-columns: repeat(5,1fr);
            }
        }
    }

    .card-service{
        box-shadow: $box-shadow;
        transition: 0.3s;
        
        &:hover {
            box-shadow: $box-shadow-hover;
        }

        span{
            margin: 2rem 0;
        }

        svg{
            margin: 1rem auto;
            color : $color-secondary-gold;
        }
    }

    .icons-services-concierge{
        margin-bottom: 5rem;

        .grid-cards{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            gap: 1rem;

            @include respond(md){
                grid-template-columns: repeat(2,1fr);
            }

            @include respond(lg){
                grid-template-columns: repeat(3,1fr);
            }
        }
    }

    svg{
        &:hover{
            height: 2.1rem;
        }
    }

    .btn-services{
        margin : $margin-inter-section
    }

    .more-services{
        .list-more-service{
            border: 1px solid $color-secondary-gold;
            border-radius: 3px;
            margin: $margin-inter-section;
            box-shadow: $box-shadow;

            &:hover{
                box-shadow: $box-shadow-hover;
            }

            ul{
                padding: 2rem;
            }
        }
    }
}