body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-primary-white;
    text-align: left;
    display: block;

    // .blank {
    //     height: 10rem;
    //     padding: 5rem;
    //     border: 3px solid $color-secondary-gold;
    // }

    // .container {
    //     border: 2px solid $color-secondary-gold;
    //     background-color: $color-bg-secondary;
    //     padding : 3rem 5rem;
    //     color : $color-primary-black;
    // }
    

    // .flex{
    //     display: flex;
    //     flex-direction: column;
    // }

    // .grid{
    //     display : grid;
    //     grid-template-columns: 1fr;

    //     @include respond(md) {
    //         grid-template-columns: 1fr 1fr;
    //     }
    // }
}