.wrapper-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    min-height: 5rem;
    color: $color-bg-secondary;
    background-color: $color-bg-alt;
    box-shadow: 0 $box-shadow-y $box-shadow-radius $box-shadow-color;
    
    .app_logo {
        display: block;
        text-decoration: none;
        color : $color-primary-white;


        img {
            height: 2rem;
            display: block;
            filter: drop-shadow($box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color);
        }
    }

    .app_navigation_toggle {
        position: relative;
        display: none;
        user-select: none;
        border : 2px solid $color-secondary-gold;
        margin: 2rem;
        cursor: pointer;

        &:checked {
            & ~ .app_navigation_toggle_icon {
                background: transparent;

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }

            &:not(.steps) {
                & ~ .app_navigation_toggle_icon {
                    &:before,
                    &:after {
                        top: 0;
                    }
                }
            }

            & ~ .app_navigation {
                max-height: calc(100vh - 3rem);
            }
        }
    }

    .app_navigation_toggle_icon {
        position: relative;
        display: block;
        height: 0.25rem;
        width: 1.25rem;
        background-color: $color-bg-secondary;
        transition: background .2s ease-out;

        @include respond(sm-menu) {
            display: none;
        }

        &:hover{
            height: 0.3rem;
            width: 1.3rem;
        }

        &:before,
        &:after {
            background-color: $color-bg-secondary;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        &:before {
            top: 0.5rem;
        }

        &:after {
            top: -0.5rem;
        }
    }

    .app_navigation {
        position: fixed;
        top: 3rem;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: $color-bg-primary;
        box-shadow: 0 $box-shadow-y $box-shadow-radius $box-shadow-color;
        transition: max-height 0.3s ease-in-out;

        @include respond(sm-menu) {
            position: initial;
            display: block;
            width: auto;
            max-height: none;
            overflow: visible;
            box-shadow: none;
        }

        & > ul {
            margin: 0;
            padding: 1rem;
            width: calc(100% - 2rem);

            @include respond(sm-menu) {
                display: flex;
                padding: 0;
                align-items: center;
            }

            & > li {
                @include respond(sm-menu) {
                    margin: 0;
                }

                & > a {
                    display: block;
                    font-family: $font-family-primary;
                    font-size: 1rem;
                    font-weight: 500;
                    width: auto;
                    letter-spacing: 1px;
                    text-decoration: none;
                    margin-bottom: 1rem;
                    text-align: center;
                    white-space: nowrap;
                    color: $color-primary-white;

                    @include respond(sm-menu) {
                        margin: 0 0.5rem;
                        padding: 1.25rem 0;
                    }

                    @include respond(sm-menu) {
                        margin: 0 3rem;
                    }

                    &:hover,
                    &.active {
                        color: $color-secondary-blue;
                        font-size:1.15rem;
                    }

                    &.app_button {
                        &.cta {
                            padding: 0.5rem 1rem;
                            color: $color-bg-primary;
                            border-color: $color-secondary-blue;
                            background-color: $color-secondary-blue;

                            &.active,
                            &:hover {
                                color: $color-bg-primary;
                                border-color: $color-blue;
                                background-color: $color-blue;
                            }
                        }
                    }
                }

                &:hover {
                    & > a {
                        color: $color-secondary-blue;
                    }

                    & > .app_navigation_dropdown {
                        transform: scaleY(1);
                    }
                }

                & > .app_navigation_dropdown {
                    padding: 1rem;
                    font-size: 0.9rem;
                    white-space: nowrap;
                    background-color: $color-bg-altmenu;
                    border-radius: $border-radius-default;
                    box-shadow: inset $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;

                    li {
                        a {
                            display: block;
                            margin-bottom: 0.25rem;
                            padding: 0.25rem 0;
                            font-family: $font-family-secondary;
                            font-size: 1rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-decoration: none;
                            text-align: left;
                            white-space: nowrap;
                            color: $color-bg-primary;

                            @include respond(sm-menu) {
                                margin-bottom: 2rem;
                            }

                            &:hover,
                            &.active {
                                color: $color-secondary-blue;
                            }
                        }

                        &:last-child {
                            a {
                                margin-bottom: 0;
                            }
                        }
                    }

                    @include respond(sm-menu) {
                        position: absolute;
                        right: 0;
                        top: 3.75rem;
                        z-index: 9998;
                        display: block;
                        padding-right: 3rem;
                        transform: scaleY(0);
                        transform-origin: top;
                        background-color: $color-bg-secondary;
                        border: 2px solid $color-bg-altmenu;
                        border-top: none;
                        border-right: none;
                        border-radius: 0;
                        border-bottom-left-radius: 0.5rem;
                        box-shadow: calc(#{$box-shadow-x} * -1) $box-shadow-y $box-shadow-radius $box-shadow-color;
                        transition: transform 0.3s ease-in-out;

                        li {
                            a {
                                font-size: 1rem;
                                color: $color-fg-primary;

                                &:hover {
                                    color: $color-secondary-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}